training_set
testing_set
mlruns
*.csv
*.zip
*.rar
*.xlsx
*artifacts*
*checkpoints*
*logs*
*results*
*result*
__pycache__
src/pdm-evaluation/DataFolder/c_mapss
src/pdm-evaluation/femto
src/pdm-evaluation/ims
src/pdm-evaluation/edp-wt
src/pdm-evaluation/metropt-3
src/pdm-evaluation/DataFolder
CMAPSSData
*Navarchos*
src/pdm-evaluation/evaluation/evaluate

# PyCharm files and directories
.idea/
*.iml
*.ipr
*.iws
*.tar.*

!analysis_scripts/*.csv